@using CheckAnMOT.Core.Models
@model ResultDTO
@{
    ViewData["Title"] = "Check an MOT";
}

<div class="container text-center">
    <h3 class="mt-3">Enter a UK registered car number plate</h3>
    
    <form asp-action="CheckMot" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="result">
        <input type="text" name="numberplate" asp-for="Registration"/>
        <button id="btnSubmit" type="submit" >Check Now</button>
    </form>
    <div id="result">

        @if(Model != null)
        {
            <div class="card p-3">
             @if(Model.StatusCode == System.Net.HttpStatusCode.OK)
             {
                    <div>
                    @Model.Registration    
                    </div>

                    <div>
                    @Model.Make
                    </div>

                    <div>
                    @Model.Model
                    </div>

                    <div>
                    @Model.Colour
                    </div>

                    <div>
                    @(Model.MotExpiryDate > DateTime.MinValue ? Model.MotExpiryDate.ToShortDateString() : "No current MOT")
                    </div>

                    <div>
                    @Model.NumFailedMots
                    </div>
                }
                else
                {
                    <div>@Model.ErrorMessage</div>
                }
            </div>
        } 

    </div>

</div>
